{% load static %}

<div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 dark:bg-gray-900 overflow-x-auto sm:rounded-lg mt-5">
    <div class="flex items-center flex-column flex-wrap md:flex-row space-y-4 md:space-y-0">
        {% include 'components/search_action.html' %}
        <button id="dropdownFilterButton" data-dropdown-toggle="dropdownFilter" class="inline-flex items-center text-gray-500 bg-white border border-gray-400 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 ml-2 mb-1" type="button">
            <span class="sr-only">Action button</span>
            Filter by
            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>
        <div>
            <!-- Dropdown menu -->
            <div id="dropdownFilter" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600 overflow-x-auto h-36">
                {% if tables.page_obj.fields %}
                    {% for f in tables.page_obj.fields %}
                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownFilterButton">
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ f|capfirst}}</a>
                        </li>
                    </ul>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    

    <div class="flex items-center flex-column flex-wrap md:flex-row space-y-4 md:space-y-0">
        <button
        {% if list_action_modal == 'batch_form'%}
            id="batch_create_btn"
            data-modal-target="batch_create"
            data-modal-toggle="batch_create"
        {% elif list_action_modal == 'product_form' %}
            id="product_create_btn"
            data-modal-target="product_create"
            data-modal-toggle="product_create"
        {% endif %}
        class="inline-flex items-center text-gray-500 bg-green-500 text-white border border-white focus:outline-none hover:bg-green-600 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-2.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 ml-2">
            <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
            </svg>
            {{content_label.add}}
        </button>
        <button data-modal-target="delete-modal" data-modal-toggle="delete-modal" class="inline-flex items-center bg-red-500 text-white border border-white focus:outline-none hover:bg-red-600 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-2.5 dark:bg-red-800 dark:text-red-400 dark:border-red-600 dark:hover:bg-red-700 dark:hover:border-red-600 dark:focus:ring-gray-700 ml-2" id="delete_button_modal">
            <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
            </svg>
            Delete
        </button>
    </div>
</div>