{% load static %}

<div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 dark:bg-gray-900 overflow-x-auto sm:rounded-lg mt-5">
    <div class="flex items-center flex-column flex-wrap md:flex-row space-y-4 md:space-y-0">
        {% include 'components/search_action.html' %}
        <button id="dropdownFilterButton" data-dropdown-toggle="dropdownFilter" class="inline-flex items-center text-gray-500 bg-white border border-gray-400 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 ml-2 mb-1" type="button">
            <span class="sr-only">Action button</span>
            Filter by
            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>
        <div>
            <!-- Dropdown menu -->
            <div id="dropdownFilter" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600 overflow-x-auto h-36">
                {% if tables.page_obj.fields %}
                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownFilterButton">
                        {% for field in tables.page_obj.fields %}
                            <li>
                                <a href="?order_by={{ field.key }}&direction={% if request.GET.direction == 'asc' and request.GET.order_by == field.key %}desc{% else %}asc{% endif %}" 
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                    {{ field.name|capfirst }}
                                    {% if request.GET.order_by == field.key %}
                                        {% if request.GET.direction == "asc" %}
                                            ↑
                                        {% else %}
                                            ↓
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    

    <div class="flex items-center flex-column flex-wrap md:flex-row space-y-4 md:space-y-0">
        <button type="button" class="activity-btn text-gray-800 border border-gray-800 hover:bg-gray-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center  dark:border-gray-500 dark:text-gray-500 dark:hover:text-white dark:focus:ring-gray-800 dark:hover:bg-gray-500" data-instance-type="{{ instance_type }}">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3M3.22302 14C4.13247 18.008 7.71683 21 12 21c4.9706 0 9-4.0294 9-9 0-4.97056-4.0294-9-9-9-3.72916 0-6.92858 2.26806-8.29409 5.5M7 9H3V5"/>
        </svg>
        <span class="sr-only">Activity Log</span>
        </button>
        <button
        {% if list_action_modal == 'batch_form'%}
            id="batch_create_btn"
            data-modal-target="batch_create"
            data-modal-toggle="batch_create"
        {% elif list_action_modal == 'product_form' %}
            id="product_create_btn"
            data-modal-target="product_create"
            data-modal-toggle="product_create"
        {% endif %}
        class="item-create-btn inline-flex items-center text-gray-500 bg-green-500 text-white border border-white focus:outline-none hover:bg-green-600 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-2.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 ml-2">
            <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
            </svg>
            {{content_label.add}}
        </button>
        <button data-modal-target="delete-modal" data-modal-toggle="delete-modal" class="inline-flex items-center bg-red-500 text-white border border-white focus:outline-none hover:bg-red-600 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-2.5 dark:bg-red-800 dark:text-red-400 dark:border-red-600 dark:hover:bg-red-700 dark:hover:border-red-600 dark:focus:ring-gray-700 ml-2" id="delete_button_modal">
            <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
            </svg>
            Delete
        </button>
    </div>
</div>


{% include 'components/modals/activity.html' %}
<script src="{% static 'js/modals/activity_log.js' %}"></script>