django
pillow
python-dotenv
psycopg2
djangorestframework
django-compressor
requests
faker
markdown
django-filter
drf-extensions
django-unfold
pandas
scikit-learn
numpy
statsforecast
celery
redis
gunicorn
django-cacheops