<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpPlatform processPath="C:\SDProject\JJAS-ISS\venv\Scripts\python.exe" arguments="C:\SDProject\JJAS-ISS\jjas\manage.py runserver 8001" stdoutLogEnabled="true" stdoutLogFile="C:\SDProject\JJAS-ISS\jjas\logs\log" forwardWindowsAuthToken="true">
            <environmentVariables>
                <environmentVariable name="DB_NAME" value="dev_iss" />
                <environmentVariable name="SECRET_KEY" value="django-insecure-7l0$e0)rubtvqeeq2faeb_%e^spg(yk0)1i(=dt*qe2a217e&amp;m" />
                <environmentVariable name="DB_USER" value="postgres" />
                <environmentVariable name="DB_PWD" value="admin" />
                <environmentVariable name="DB_HOST" value="localhost" lockItem="false" />
                <environmentVariable name="DB_PORT" value="5432" lockItem="false" />
                <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
        <handlers>
            <add name="MyPyHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\SDProject\JJAS-ISS\jjas" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="jjas.settings" />
    </appSettings>
</configuration>
