
{% load static %}
<div id="sales-form" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-6xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg border-2 dark:bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b border-black sm:mb-5 dark:border-gray-600">
                <h3 id="sales-form-text" class="sales-header-text text-lg font-semibold text-gray-900 dark:text-white">
                    Sales Record Form
                </h3>
                <h6 id="sales-form-id" class="ml-1 text-sm font-normal text-gray-500 dark:text-white">
                </h6>
                <button type="button" class="sales-form-hide text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="sales-form">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form id="sales-form-control"></form>
            {% csrf_token %}
            <div class="grid gap-4 mb-4 grid-cols-10">
                <div class="col-span-4">
                    <label for="sales-form-client" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company Name<span class="text-red-400">*</span></label>
                    <input id="sales-form-client" type="text" name="client" 
                    class="shadow-md rounded-lg w-100 bg-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="Enter company name" required="true" maxlength="60" oninput="toTitleCase(this)">
                </div>
                <div class="relative max-w-sm col-span-2">
                    <label for="sales-form-issued" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date issued<span class="text-red-400">*</span></label>
                    <input id="sales-form-issued" name="date_issued" datepicker 
                    datepicker-format="mm-dd-yyyy"
                    datepicker-autohide type="text" datepicker-min-date="01/01/2022" datepicker-max-date="dateToday()" class="shadow-md rounded-lg w-100 bg-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select a date">
                </div>
                <div class="col-span-4 flex direction-row">
                    <div class="col-span-2 mr-4">
                        <label for="sales-form-net" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Net day<span class="text-red-400">*</span></label>
                        <select id="sales-form-net"  name="net_day" class="shadow-md rounded-lg bg-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="" selected disabled>Select a net day</option>
                                <option value="30" sele>30 days</option>
                                <option value="45" sele>45 days</option>
                                <option value="60" sele>60 days</option>
                                <option value="90" sele>90 days</option>
                        </select>
                    </div>
                    <div class="col-span-2">
                        <label for="sales-form-status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Payment status<span class="text-red-400">*</span></label>
                        <select id="sales-form-status"  name="status" class="shadow-md rounded-lg bg-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="" selected  disabled>Select payment status</option>
                            <option value="false">Unpaid</option>
                            <option value="true">Paid</option>
                        </select>
                    </div>
                </div>
                <div class="col-span-4">
                    <label for="sales-form-address-line-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address line 1<span class="text-red-400">*</span></label>
                    <input id="sales-form-address-line-1" type="text" name="address_line_1" 
                    class="shadow-md rounded-lg w-100 bg-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="e.g., house or building number, street name" required="true" maxlength="120">
                </div>
                <div class="col-span-4">
                    <label for="sales-form-address-line-2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address line 2<span class="font-italic text-gray-600 text-xs"> (Optional)</span></label>
                    <input id="sales-form-address-line-2" type="text" name="address_line_2" 
                    class="shadow-md rounded-lg w-100 bg-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="e.g., apartment, suite, or floor numbers, or a PO Box number" required="true" maxlength="120">
                </div>
                <div class="col-span-3">
                    <label for="sales-form-city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City<span class="text-red-400">*</span></label>
                    <input id="sales-form-city" type="text" name="city" 
                    class="shadow-md rounded-lg w-100 bg-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="e.g., Carmona City" required="true" maxlength="60" oninput="toTitleCase(this)">
                </div>
                <div class="col-span-3">
                    <label for="sales-form-province" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Province<span class="text-red-400">*</span></label>
                    <input id="sales-form-province" type="text" name="province" 
                    class="shadow-md rounded-lg w-100 bg-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="e.g., Cavite" required="true" maxlength="60" oninput="toTitleCase(this)">
                </div>
                <div class="col-span-2">
                    <label for="sales-form-zip" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Zip Code<span class="text-red-400">*</span></label>
                    <input id="sales-form-zip" type="text" name="zip_code" 
                    class="shadow-md rounded-lg w-100 bg-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="e.g., 4116" required="true" maxlength="4" oninput="sanitizeZipCode(this)">
                </div>
                <div class="bg-white dark:bg-gray-900 col-span-10 relative border-t border-black mt-5 pt-2">
                    <div class="grid grid-cols-10 gap-4 mb-2">
                        <div class="col-span-3">
                            <label for="sales-form-search" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Add product to the sales</label>
                            <div class="relative mt-1">
                                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                    </svg>
                                </div>
                                <input type="text" id="sales-form-search" class="block pt-2 ps-10 text-sm text-gray-900 shadow-md rounded-lg w-full bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search existing products">
                            </div>
                            <ul id="sales-form-dropdown" class="absolute z-10 w-4/12 hidden bg-white border border-gray-300 rounded-lg shadow-md dark:bg-gray-700 dark:border-gray-600 max-h-60 overflow-y-auto">
                                <!-- Dynamic content will be injected here -->
                                <li id="no-data" class="px-4 py-2 text-sm text-gray-900 dark:text-white hidden">No product data to show. 
                                </li>
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-5">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Product
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cost Price (₱)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Selling Price (₱)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Quantity
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Surcharge (%)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Total Price
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="sales-form-tbody">
                    </tbody>
                </table>
                <div class="flex items-center justify-end w-full py-3 px-5">
                    <h6 class="font-bold mr-4">Grand Total (₱): </h6>
                    <h6 class="sales-form-grand-total font-medium">0.00</h6>
                </div>
            </div>
            
            <div class="flex">
                <button id="sales-form-submit" type="button" class="ml-auto text-white inline-flex items-center text-white bg-green-500 hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
                    </svg>
                    Update Sales Entry
                </button>   
            </div>
        </form>
        </div>
    </div>
</div>

{% include 'components/modals/sales/confirm_popup.html' %}