{% load static %}
<div class="max-w-full w-full bg-white rounded-lg shadow-md border border-gray-400 p-4 md:p-6">
    <div class="flex justify-between pb-4 border-gray-200 dark:border-gray-700">
      <div class="flex items-center">
        <div class="w-12 h-12 rounded-lg bg-purple-100 dark:bg-gray-700 flex items-center justify-center me-3">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.143 4H4.857A.857.857 0 0 0 4 4.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 10 9.143V4.857A.857.857 0 0 0 9.143 4Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 20 9.143V4.857A.857.857 0 0 0 19.143 4Zm-10 10H4.857a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286A.857.857 0 0 0 9.143 14Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286a.857.857 0 0 0-.857-.857Z"/>
            </svg>
        </div>
        <div>
          <h5 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-1">Category-Product Ratio</h5>
          <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Category sold over a span of a year</p>
        </div>
      </div>
      <div class="pt-4 pb-2">
        <input id="heat-map-search" type="text" placeholder="Search categories..." class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" />
    </div>
    </div>
    <div id="heat-map-chart" class="border-t pt-4 pb-4"></div>
  </div>


<script src="{% static 'js/analytics/product_analytics/heat_map.js' %}"></script>