{% load static %}

<!-- Main modal -->
 
<div id="batch_update" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-4xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg border-2 dark:bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b border-black sm:mb-5 dark:border-gray-600">
                <h3 class="bu-header-text text-lg font-semibold text-gray-900 dark:text-white">
                    Batch Order Update Form
                </h3>
                <h6 class="bu-header-id ml-1 text-sm font-normal text-gray-500 dark:text-white">
                    BN-{{modal.batch_form.last_fetch_batch_id}}
                </h6>
                <button type="button" id="batch_update_hide_btn" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form action="#"></form>
            <div class="grid gap-4 mb-4 grid-cols-4">
                <div class="col-span-2">
                    <label id="supplier-label-update" for="supplier" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supplier Name<span class="text-red-400">*</span></label>
                    <input id="supplier-input-update" type="text" name="supplier" 
                    class="shadow-md rounded-lg w-100 bg-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="i.e. Alibaba" required="true" maxlength="60" oninput="toTitleCase(this)">
                </div>
                <div class="relative max-w-sm col-span-2">
                    <label for="purchase-date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Purchase Date</label>
                    <input id="purchase-date-update" name="purchase-date-update" datepicker
                    datepicker-format="mm-dd-yyyy" datepicker-autohide type="text" datepicker-min-date="01/01/2022" datepicker-max-date="dateToday()" class="shadow-md rounded-lg w-100 bg-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Purchase Date">
                </div>
                
                <div class="bg-white dark:bg-gray-900 col-span-2 relative">
                    <label for="table-search-update" class="sr-only">Search</label>
                    <div class="relative mt-1">
                        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input type="text" id="table-search-update" class="block pt-2 ps-10 text-sm text-gray-900 shadow-md rounded-lg w-full bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search existing products">
                    </div>
                    <ul id="product-dropdown-update" class="absolute z-10 w-full hidden bg-white border border-gray-300 rounded-lg shadow-md dark:bg-gray-700 dark:border-gray-600 max-h-60 overflow-y-auto">
                        <!-- Dynamic content will be injected here -->
                        <li id="no-data" class="px-4 py-2 text-sm text-gray-900 dark:text-white hidden">No product data to show. 
                            <button 
                            data-modal-target="product_create" 
                            data-modal-toggle="product_create"
                            class="text-blue-600 underline">Add product</button>
                        </li>
                    </ul>                    
                </div>

                <div class="flex">
                    <button
                        data-modal-target="product_create" 
                        data-modal-toggle="product_create"
                        type="button" class="text-white inline-flex items-center text-white bg-green-500 hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-4 py-2 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                        <svg class="mr-1 ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
                        </svg>
                        Add a product
                    </button>   
                </div>
                
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-5">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Product
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Quantity
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Defective Count
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cost Price
                            </th>
                            <th scope="col" class="px-15 py-3">
                                Total Price
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="batch-tbody-update">
                    </tbody>
                </table>
                <div class="flex items-center justify-end w-full py-3 px-5">
                    <h6 class="font-bold mr-4">Grand Total (₱): </h6>
                    <h6 class="batch-grand-price font-medium">0.00</h6>
                </div>
            </div>
            
            <div class="flex">
                <button id="batch-update-btn" type="button" class="ml-auto text-white inline-flex items-center text-white bg-green-500 hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
                    </svg>
                    Update Batch Entry
                </button>   
            </div>
        </form>
        </div>
    </div>
</div>


{% include 'components/modals/batch_orders/confirm_batch_update_popup.html' %}
