{% extends '../base/base.html' %}
{% load static %}
{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
            <a href="{% url 'login_view' %}" class="flex flex-row items-center hover:underline">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                </svg>
                Back
            </a>            
            <div class="flex flex-col justify-center items-center">
                <div class="mt-5 flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                    <img class="mr-2" src="{% static 'img/JJAS-logo.svg' %}" alt="logo" style="width: 80px; height: auto;">
                    Demo IMS
                </div>
            </div>
            <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Password reset sent
            </h1>
            <p class="font-light text-gray-500 dark:text-gray-400">
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </p>

            {% if messages %}
                {% for message in messages %}
                    <div class="mt-4 text-sm text-green-600 dark:text-green-400">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
